appdirs==1.4.4
assertpy==1.1
attrs==22.2.0
colorama==0.4.6
dacite==1.8.0
dataclasses-json==0.5.7
dependency-injector==4.41.0
Deprecated==1.2.13
exceptiongroup==1.1.0
grpcio==1.51.1
grpcio-tools==1.51.1
iniconfig==2.0.0
joblib==1.2.0
jsonschema==4.17.3
llvmlite==0.39.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
msgpack==1.0.4
mypy-extensions==1.0.0
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
pluggy==1.0.0
protobuf==4.22.0
pyrsistent==0.19.3
pytest==7.2.2
pytest-asyncio==0.20.3
python-dateutil==2.8.2
python-json-config==1.2.3
pytz==2022.7.1
scikit-learn==1.2.2
scipy==1.10.0
six==1.16.0
sktime==0.16.1
threadpoolctl==3.1.0
tomli==2.0.1
typing-inspect==0.8.0
typing_extensions==4.5.0
wrapt==1.14.1
yapf==0.32.0
